<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css'%}">
	<style>
		section .title{
			text-align: center;
		}
	</style>
	<title>个人简历</title>
</head>
<body>
	<div class="container">
		<div class="resume">
			<section id="home">
				<div class="cv-title">
					<div class="row">
						<div class="col-xs-12 col-lg-4">
							<div class="head-title">
								<h2>董兵</h2>
								<h5>前端开发</h5>
							</div>
						</div>
						<div class="col-xs-12 col-lg-8">
							<nav>
								<ul>
									<li id="home-active"><a href="#home">主页</a></li>
									<li><a href="#about">关于</a></li>
									<li><a href="#skills">技能</a></li>
									<li><a href="#educations">教育</a></li>
									<li><a href="#experiences">经历</a></li>
									<li><a href="#works">作品</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<section id="about">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-info-circle"></i>
							</div>
							<div class="title">
							<h4>关于</h4></div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
					<div class="box-holder">
						<div class="row">
							<div class="col-xs-12 col-lg-3">
								<div class="avatar">
									<img src="{% static 'images/viewphoto.jpg'%}" alt="handsome">
								</div>
							</div>
							<div class="col-xs-12 col-lg-9">
								<div class="text-holder">
									<p>我是来自于华东师范大学的研究生。我擅长英语阅读和写作。平时喜欢浏览国外技术博客，曾经参加过一些开源项目的翻译工作，比如djangogirls.我致力于做一名前端开发工程师。
                                        </p>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<ul>
											<li class="round-row">
												<i class="fa fa-map-marker"></i>
												<span>中国，上海</span>
											</li>
											<li class="round-row">
												<i class="fa fa-rss-square"></i>
												<a href="http://blog.csdn.net/neal1991">CSDN blog</a>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-6">
										<ul>
											<li class="round-row">
												<i class="fa fa-envelope"></i>
												<a href="mailto:bing@stu.ecnu.edu.cn"><span>bing@stu.ecnu.edu.cn</span></a>
											</li>
											<li class="round-row">
												<i class="fa fa-phone"></i>
												<span>(+86) 13262255175</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					</div>
					
					</div>
					</div>
				</div>
			</section>
			<section id="skills">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-wrench"></i>
							</div>
							<div class="title">
								<h4>技能</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									
									<ul>
								        <li><h4>语言 & 框架</h4></li>
										<li class="round-row">
											<label>Javascript</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>HTML</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>CSS</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
										    <label>EXT</label>
										    <progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Underscore.js</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Node</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>C#</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>C++</label>
											<progress value="70" max="100"></progress>
										</li>
									</ul>
								</div>
								<div class="col-xs-12 col-sm-6">

									<ul>
									    <li>									<h4>
										编辑器 & 集成开发环境
									</h4></li>
										<li class="round-row">
											<label>Sublime Text</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Intellij</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
                                            <label>谷歌浏览器</label>
                                            <progress value="85" max="100"></progress>
                                        </li>
										<li class="round-row">
											<label>Matlab</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Visual studio</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Pycharm</label>
											<progress value="70" max="100"></progress>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="educations">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-book"></i>
							</div>
							<div class="title"><h4>教育</h4></div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="row">
								<div class="col-md-6">
									<div class="edu">
										<div class="head">
											<div class="date-range">2014.9-2017.7</div>
											<h3>华东师范大学</h3>
											<h4>中国上海</h4>
										</div>
										<div class="body">
											<h3>计算机科学与技术</h3>
											<h3>硕士学位</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="edu">
										<div class="head">
											<div class="date-range">2009.9-2013.7</div>
											<h3>安徽建筑大学</h3>
											<h4>中国，安徽</h4>
										</div>
										<div class="body">
											<h3>网络工程</h3>
											<h3>学士学位</h3>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="experiences">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="title"><h4>经历</h4></div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="emp-item">
								<div class="emp">
									<div class="head">
									    <div class="date-range">2016.4-now</div>
										<h3>东方海外货柜（上海）</h3>
										<h4>信息系统开发中心</h4>
									</div>
									<div class="body">
										<p>我主要担任前端开发工程师。主要参与了两个系统的开发工作，包括TMS物流系统以及港口信息爬虫。前者主要是一个复杂的物流管理系统，我主要负责系统的部分页面的
                                        设计和开发，主要涉及EXT以及javascript 技术。后面是队宁波，上海，福州多家港口信息的爬虫。这个项目基于NOEDE，并模拟请求获取数据，并且使用第三方框架解析响应，数据库使用mongo。</p>
									</div>
								</div>
							</div>
							<div class="emp-item">
								<div class="emp">
									<div class="head">
									    <div class="date-range">2013.5-2014.4</div>
										<h3>合肥未来计算机开发有限公司</h3>
										<h4>软件开发部</h4>
									</div>
									<div class="body">
										<p>我主要担任软件测试工程师。负责了几个OA项目，基本都是基于.NET的B/S架构的系统。我主要负责系统的测试和部署工作，系统开发人员来保持系统的稳定运行。与用户沟通，了解需求，并处理相应的一些紧急情况。</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<section id="works">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-rocket"></i>
							</div>
							<div class="title"><h4>作品</h4></div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="work-item">
								<div class="head"><h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3"><span class="text">DES</span></div>
                                        <div class="col-xs-12 col-lg-3"><span><a href="../paper"><i class="fa fa-mortar-board"></i></a></span></div>
                                    </div>
                                    </h4></div>
							    <div class="body">
									<p>This paper is the improvement of the regularity model-based multiobjective estimation of distribution algorithm(RM-MEDA). It mainly solves the sampling problem from a distinct aspect, combining differential evolution algorithm. The experiment resuls are quite impressive. This paper has been accepted by IEEE congress on evolutionary compution.</p>
								</div>
							</div>
							<div class="work-item">
								<div class="head"><h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3"><span class="">weather app</span></div>
                                        <div class="col-xs-12 col-lg-3"><span><a href="http://codepen.io/nealecnu/full/GZpJrv/"><i class="fa fa-codepen"></i></a></span></div>
                                    </div>
                                    </h4>
								</div>
								<div class="body"><p>This is a simple weather app which shows the weather according to your location. It will disply the information about the weather. The app is implemented by html, css and angularjs. It utilizes the openweather api.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3"><span class="text">self website</span></div>
                                        <div class="col-xs-12 col-lg-3"><span><a href="http://neal1991.pythonanywhere.com"><i class="fa fa-share-alt"></i></a></span></div>
                                    </div></h4>
								</div>
								<div class="body"><p>This website is implemented by Django, a open source python web framework. You can access the source code of this website by the link provided above.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3"><span class="text">ife-enu</span></div>
                                        <div class="col-xs-12 col-lg-3"><span><a href="http://neal1991.github.io/ife-ecnu/index.html"><i class="fa fa-github"></i></a></span></div>
                                    </div></h4>
								</div>
								<div class="body"><p>This is the study course of the Baidu Institute of Front End Technology. The task will be listed in this web site.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3"><span class="text">code-recognition</span></div>
                                        <div class="col-xs-12 col-lg-3"><span><a href="https://github.com/neal1991/code-recognition"><i class="fa fa-github-alt"></i></a></span></div>
                                    </div></h4>
								</div>
								<div class="body"><p>This program is designed for detecting the validation code of the login website. It utilizes 2 open source software, imagemagick and tesseract-ocr. The former is used to process the image, and the latter will be applied to detect the processed image. The detection results are satisfying in my experiments. And the program is developed by node js.</p></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>