<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css'%}">
	<title>Resume</title>
</head>
<body>
	<div class="container">
		<div class="resume">
			<section id="home">
				<div class="cv-title">
					<div class="row">
						<div class="col-xs-12 col-lg-4">
							<div class="head-title">
								<h2>NEAL CAFFERY</h2>
								<h5>FRONTEND-DEVELOPER</h5>
							</div>
						</div>
						<div class="col-xs-12 col-lg-8">
							<nav>
								<ul>
									<li id="home-active"><a href="#home">HOME</a></li>
									<li><a href="#about">ABOUT</a></li>
									<li><a href="#skills">SKILLS</a></li>
									<li><a href="#educations">EDUCATIONS</a></li>
									<li><a href="#experiences">EXPERIENCES</a></li>
									<li><a href="#works">WORKS</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<section id="about">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-info-circle"></i>
							</div>
							<div class="title">
							<h4>ABOUT</h4></div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
					<div class="box-holder">
						<div class="row">
							<div class="col-xs-12 col-lg-3">
								<div class="avatar">
									<img src="{% static 'images/viewphoto.jpg'%}" alt="handsome">
								</div>
							</div>
							<div class="col-xs-12 col-lg-9">
								<div class="text-holder">
									<p>I am a undergraduate student from ECNU. I am proficent at English reading and writing. I like browse technology blogs and have attended some open source project's translation work, just like djangogirl. I am dedicated to be a front-end developer.</p>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<ul>
											<li class="round-row">
												<i class="fa fa-map-marker">Shanghai, China</i>
											</li>
											<li class="round-row">
												<i class="fa fa-user"> Bing Dong</i>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-6">
										<ul>
											<li class="round-row">
												<i class="fa fa-envelope"></i>
												<a href="mailto:bing@stu.ecnu.edu.cn"><span>bing@stu.ecnu.edu.cn</span></a>
											</li>
											<li class="round-row">
												<i class="fa fa-phone"></i>
												<span>(+86) 13262255175</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					</div>
					
					</div>
					</div>
				</div>
			</section>
			<section id="skills">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-wrench"></i>
							</div>
							<div class="title">
								<h4>SKILLS</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									
									<ul>
								        <li><h4>Language & Framework</h4></li>
										<li class="round-row">
											<label>Javascript</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>HTML</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>CSS</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
										    <label>EXT</label>
										    <progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Underscore.js</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Node</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>C#</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>C++</label>
											<progress value="70" max="100"></progress>
										</li>
									</ul>
								</div>
								<div class="col-xs-12 col-sm-6">

									<ul>
									    <li>									<h4>
										Editors & IDE
									</h4></li>
										<li class="round-row">
											<label>Sublime Text</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Intellij</label>
											<progress value="80" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Matlab</label>
											<progress value="90" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Visual studio</label>
											<progress value="70" max="100"></progress>
										</li>
										<li class="round-row">
											<label>Pycharm</label>
											<progress value="70" max="100"></progress>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="educations">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-book"></i>
							</div>
							<div class="title">EDUCATION</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="row">
								<div class="col-md-6">
									<div class="edu">
										<div class="head">
											<div class="date-range">2014.9-2017.7</div>
											<h3>East China Normal University</h3>
											<h4>Shanghai, China</h4>
										</div>
										<div class="body">
											<h3>Computer science & technology</h3>
											<h3>Master degree</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="edu">
										<div class="head">
											<div class="date-range">2009.9-2013.7</div>
											<h3>Anhui Jianzhu University</h3>
											<h4>Anhui, China</h4>
										</div>
										<div class="body">
											<h3>Network engineering</h3>
											<h3>Bachor degree</h3>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="experiences">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="title">Experience</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="emp-item">
								<div class="emp">
									<div class="head">
									    <div class="date-range">2016.4-now</div>
										<h3>OOCL</h3>
										<h4>Information System Development Center</h4>
									</div>
									<div class="body">
										<p>I am the front-end developer intern. I have attented mainly two projects of TMS and scrawler. The former is mainly the system of the management of logistics. I am mainly responsible for the design and development of some web pages. The main techniques include EXT and javascript. And the latter is the scrawler of port information. It mainly utilizes Node and three-party framework to parse the response. </p>
									</div>
								</div>
							</div>
							<div class="emp-item">
								<div class="emp">
									<div class="head">
									    <div class="date-range">2013.5-2014.4</div>
										<h3>Vline</h3>
										<h4>Software Developement Departement</h4>
									</div>
									<div class="body">
										<p>I am the software test engineer for several projects. Theses project are mainly OA systems developed by .NET. I am responsible for the testing and deployment. I collocated with developers to maintain the development of the projects.</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<section id="works">
				<div class="row">
					<div class="col-xs-12 col-lg-1">
						<div class="section-title">
							<div class="section-icon">
								<i class="fa fa-rocket"></i>
							</div>
							<div class="title">WORKS</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-11">
						<div class="box-holder">
							<div class="work-item">
								<div class="head"><h4><span class="text">DES</span><span><a href="../paper"><i class="fa fa-mortar-board"></i></a></span></h4></div>
							    <div class="body">
									<p>This paper is the improvement of the regularity model-based multiobjective estimation of distribution algorithm(RM-MEDA). It mainly solves the sampling problem from a distinct aspect, combining differential evolution algorithm. The experiment resuls are quite impressive. This paper has been accepted by IEEE congress on evolutionary compution.</p>
								</div>
							</div>
							<div class="work-item">
								<div class="head"><h4><span class="">weather app</span><span><a href="http://codepen.io/nealecnu/full/GZpJrv/"><i class="fa fa-codepen"></i></a></span></h4>
								</div>
								<div class="body"><p>This is a simple weather app which shows the weather according to your location. It will disply the information about the weather. The app is implemented by html, css and angularjs. It utilizes the openweather api.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4><span class="text">self website</span><span><a href="http://neal1991.pythonanywhere.com"><i class="fa fa-share-alt"></i></a></span></h4>
								</div>
								<div class="body"><p>This website is implemented by Django, a open source python web framework. You can access the source code of this website by the link provided above.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4><span class="text">ife-enu</span><span><a href="http://neal1991.github.io/ife-ecnu/index.html"><i class="fa fa-github"></i></a></span></h4>
								</div>
								<div class="body"><p>This is the study course of the Baidu Institute of Front End Technology. The task will be listed in this web site.</p></div>
							</div>
							<div class="work-item">
								<div class="head"><h4><span class="text">code-recognition</span><span><a href="https://github.com/neal1991/code-recognition"><i class="fa fa-github-alt"></i></a></span></h4>
								</div>
								<div class="body"><p>This program is designed for detecting the validation code of the login website. It utilizes 2 open source software, imagemagick and tesseract-ocr. The former is used to process the image, and the latter will be applied to detect the processed image. The detection results are satisfying in my experiments. And the program is developed by node js.</p></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>