<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="bing.ecnu@gmail.com">
    <meta name="description" content="the self website of Neal">
    <meta name="viewport" content="width:100%,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
    <!---<script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>-->
    <script>
        var _hmt = _hmt || [];
    (function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?94672ed21bc22e4ca73b1d80c3414457";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <title>Neal's site</title>
</head>
<body>
    <div id="content">
        <div class="container">
            <div class="panel panel-left">
                <div class="description">
                    <h2>董兵</h2>
                </div>
                <div class="link-panel">
                    <div class="link">
                        <ul>
                            <li><a href="http://blog.csdn.net/neal1991">博客</a></li>
                            <li><a href="../cv_zh/">简历</a></li>
                            <li><a href="project_zh">项目</a> </li>
                            <li><a href="mailto:bing@stu.ecnu.edu.cn">联系我</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="panel panel-right">
                <div class="description">
                    <h2>Neal Caffery</h2>
                </div>
                <div class="link-panel">
                    <div class="link">
                        <ul>
                            <li><a href="http://blog.csdn.net/neal1991" target="_blank">Blog</a></li>
                            <li><a href="../cv-en/">Resume</a></li>
                            <li><a href="project">Project</a> </li>
                            <li><a href="mailto:bing@stu.ecnu.edu.cn">Contact me</a></li>
                        </ul>
                    </div>
                </div>
                <div id="right">By Neal</div>
            </div>

        </div>
    </div>

</body>
</html>