<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:100%,initial-scale=1">
    <!--<meat name="viewport" content="width=320px, user-scalable=no, initial-scale=1, maximum-scale=1"/>-->
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
    <script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
    <script>
        $(document).ready(function(){
            $("#intro").fadeIn();
//            $("#intro").fadeOut();
            $("#intro").fadeToggle();
        });
    </script>
    <title>Neal's site</title>
</head>
<body>
    <div id="content">
        <div class="container">
            <div class="panel panel-left">
                <div class="description">
                    <h2>董兵</h2>
                    <p>
                        我真的好酷
                    </p>
                </div>
                <div class="link-panel">
                    <div class="link">
                        <ul>
                            <!--<li><a href="/">主页</a> </li>-->
                            <li><a href="http://blog.csdn.net/neal1991">博客</a></li>
                            <li><a href="../cv_zh/">简历</a></li>
                            <li><a href="project.html">项目</a> </li>
                            <li><a href="mailto:bing.ecnu@gmail.com">联系我</a></li>
                        </ul>
                    </div>
                </div>
                <div class="intro" id="intro">
                    <article>This site is implemented by Django, a open source python framkework. This site is deployed
                at pythonanywhere, a free hosting company for web developed by python. This website is very elementary, which will
                be completed in the future.
                    </article>
                </div>
                <div id="right">By Neal</div>
            </div>
            <div class="panel panel-right">
                <div class="description">
                    <h2>Neal Caffery</h2>
                    <p>I am really cool!
                    </p>
                </div>
                <div class="link-panel">
                    <div class="link">
                        <ul>
                            <!--<li><a href="/">Homepage</a> </li>-->
                            <li><a href="http://blog.csdn.net/neal1991" target="_blank">Blog</a></li>
                            <li><a href="../cv/">Resume</a></li>
                            <li><a href="project.html">Project</a> </li>
                            <li><a href="mailto:bing.ecnu@gmail.com">Contact me</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>