      * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato #22c3aa'), local('Lato-#22c3aa');
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', 'Microsoft YaHei', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

#content {
    width: 100%;
    height: 100%;
    text-align: center;
}



.intro{
    position: absolute;
    top: 20%;
    text-align: left;
    margin-left: 2%;
    margin-right: 30%;
    border: solid 1px;
}
#right{
    position: absolute;
    bottom: 0;
    left: 60%;
}
h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    min-height: 60px;
}

p {
    min-height: 25px;
    margin-bottom: 3px;
}

ul{
    list-style-type: none;
}

.container {
    height: 100%;
    position: relative;
}

.panel {
    display: inline-block;
    padding: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 1s;
}

.panel-left {
    width: 70%;
    left: 0;
    text-align: right;
}

.panel-right {
    width: 30%;
    left: 70%;
    text-align: left;
}

.panel, .panel-left:hover + .panel-right {
    background-color: #22c3aa;
    color: white;
}

.panel-right, .panel:hover {
    background-color: white;
    color: #22c3aa;
}

.panel-right:hover + img#avatar {
    transform: rotateY(180deg);
}
/*
.description {
    height: 150px;
}*/

.link-panel {
    margin-top: 40px;
    font-size: 0.9rem;
}

.link-panel a {
    display: inline-block;
    margin: 3px 0;
    color: inherit;
    text-decoration: none;
    transition: inherit;
    height: 20px;
}
.link-panel .link {
    margin-bottom: 5px;
}
#xianzhe-img {
    max-width: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.5;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}
@media screen and (max-width: 600px) {
    h2 {
        font-size: 2rem;
    }
    img#avatar {
        left: 50%;
        width: 80px;
        height: 80px;
        margin-left: -40px;
        border-radius: 40px;
    }
    .panel-left {
        width: 50%;
    }
    .panel-right {
        width: 50%;
        left: 50%;
        text-align: left;
    }
}

@-webkit-keyframes breathing {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes breathing {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}